*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #b5ca8d;
}

.container {
    width: 800px;
    max-width: 80%;
    border-radius: 10px;
    background-color: #8bb174;
    padding: 10x;
    box-shadow: 0 0 5px 4px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 1 px solid;
    background-color: #2a4849;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.btn:hover {
    border-color: white;
}

.btn.correct {
    background-color: green;
}

.btn.wrong {
    background-color: red;
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

#highscore,
#clock {
    text-align: center;
    font-size: 20px;
}

.hide {
    display: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}